#!/bin/bash

# =============================================================================
# NPDC Portal - Environment Variables Example
# =============================================================================
# This script defines environment variables for sensitive configurations.
# Copy this file and customize it for your environment.
# *NEVER* commit this file with actual secrets to Git!


# NPDC environment - 'dev' or 'prod'
export NPDC_ENV=${1:-'dev'}

export INSTANCE_GLOBAL_PATH="/path/to/instance" # path of the '/instance' folder on the host machine
export DIAMOND_GLOBAL_PATH="/path/to/diamond" # path of the diamond installation (on the host machine if using srun for BLAST -- else, use path in container)

# Captcha
export RECAPTCHA_SITE_KEY="your-captcha-sitekey" # Public sitekey for reCaptcha

# Runner configurations - see /runner/runner_config.py

# Webserver
export NPDC_WEBSERVER_NUM_THREADS=4 # Number of threads for the webserver
export NPDC_GUNICORN_PORT="your-port" # Webserver port e.g. "8334"

# BLAST
export BLASTSERVER_NUM_THREADS=4 # Number of threads for running blast jobs
export BLASTSERVER_MEM_GB=8 # Memory for running blast (in gb)
export BLASTSERVER_USE_SRUN=0 # 0 or 1 - for using srun in running BLAST jobs

# Downloads
export DOWNLOADSERVER_NUM_THREADS=4 # Number of threads for managing downloads
export DOWNLOADSERVER_USE_SRUN=0 # 0 or 1 - using srun in managing downloads


# Application configurations - see /npdc_config.py

export SESSION_KEY="secret-session-key" # Flask app session key

# BLAST
export BLAST_GENOME_LIMIT=1000 # number of best hits to save in BLAST query

# Email
export MAIL_SERVER="your-mail-server"
export MAIL_PORT="your-mail-port"
export MAIL_USERNAME="your-mail-user"
export MAIL_PASSWORD="your-mail-pass"

export MAIL_USE_TLS=0 # 0 or 1 - use TLS for site emailing
export MAIL_USE_SSL=1 # 0 or 1 - use SSL for site emailing

# If the same email is not used for all correspondence actions throughout the site,
# replace the emails for feedback, orders, etc.
export SITE_EMAIL="site-email-address @ site.com"

export MAIL_SEND_AS=$SITE_EMAIL
export MAIL_SEND_FEEDBACKS_TO=$SITE_EMAIL
export MAIL_SEND_ORDER_TO=$SITE_EMAIL

echo ✅ Environment variables set for the NPDC Portal
echo Current environment: ${NPDC_ENV:-'NOT SET'}
